@import url('https://fonts.googleapis.com/css?family=Amatic+SC');




.text_btn {
    border: 0;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: white;
    font-weight: 700;
    font-size: 25px;
    background-color: #ffffff;
    padding: 60px 65px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(7, 2, 75, 0.2);
}

.text_btn span {
    position: relative; 
    z-index: 1;
}

.text_btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #0400ff;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-50%) translateY(-10%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.text_btn:hover {
    color: white;
}

.text_btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);

}

