.container {
    display : flex;
    height : 90vh;
}

.others {
    flex : 5.5;
    /* background-color: rgb(233, 232, 231); */
    margin: 10px 0px 0px 10px;
}

.others::-webkit-scrollbar{
    display: none;
}