.sidebar {
    flex : 1; 
    height: 91vh;
    /* height : calc(100vh-3rem); */
    /* 100vh에서 header 높이 빼주기 */
    background-color: rgb(255, 253, 249);

    position : sticky;
    top:50px;

    border: 2px solid rgb(190, 190, 190);
    border-width: 0px 2px 0px 0px ;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.5);
}

.sidebarWrapper{
    padding: 20px;
    color: black;
}

.sidebarMenu {
    margin-bottom: 2rem;
}

.sidebarTitle {
    font-size : 2rem;
}

.sidebarList{
    list-style: none;
    padding: 0.2rem;
    font-size: 1.5rem;
}
.sidebarListItem{
    margin : 30px 0px;
    padding: 10px;
    cursor: pointer;

    color: black;
    
    align-items: center;
    border-radius: 100px;
    
}
.sidebarListItem.actice,
.sidebarListItem:hover {
    background-color: rgb(212, 210, 224);
    color: grey;

}

.sidebarListItemEnd{
    margin : 30px 0px;
    padding: 10px;
    cursor: pointer;
    
    align-items: center;
    border-radius: 100px;

    position: absolute;
    top : 480px;
}
.sidebarListItemEnd.actice,
.sidebarListItemEnd:hover {
    background-color: rgb(145, 126, 255);

}